[drugbank_credentials]
user=tester
password=pass

[drugbank_last_update]
json_last_update=2022-01-27T03:26:21.000Z
csv_last_update=2022-01-24T18:45:54.000Z

[etl_drugbank_paths]
JSON=/opt/data/demo_etl_drugbank/drugbank_json
CSV=/opt/data/demo_etl_drugbank/drugbank_csv

[pipeline_log_paths]
latest_updates_file=./logs/latest_updates.json

[etl_drugbank_postgresql]
db_user=postgres
db_password=pass